.section-general{
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin: 2rem 5rem 0 5rem;
}
.div-img{
    margin: 0;
    padding: 0;
    width: 1100px;
    height: 750px;;
}
.div-content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}
.top-content{
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: rgb(168, 168, 168);
    padding: 1rem;
}
.top-content h3{
    padding-right: 4rem;
}   
.top-content img{
    width: 50px;
    height: 50px;
}
.div-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    background-color: #7284888e;
    border-radius: 25px;
}
.div-img h3{
    font-size: 1.5rem;
    width: 700px;
    height: 100px;
    font-weight: bold;
    margin-right: 15rem;

}
.botones-dis{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline-end: 45rem;
}
.btn-conect{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f647b;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
}
.btn-conect img{
    width: 50px;
    height: 50px;
}
.btn-conect-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f647b;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    margin-left: 2rem;
}
.btn-conect-sub img{
    width: 50px;
    height: 50px;
}
.btn-conect-sub span{
    color: green;
}


.active-monitor{
    background-color: #5c8ba4;
    border:none;
    border-radius: 15px;
    cursor: pointer;
    place-items: center;
    justify-self: center;
    padding: 1rem;
    margin-top: 13rem;
}
.active-monitor:hover{
    box-shadow: 2px 2px 5px black;
    background-color: #5c8ba473;
}
.active-monitor a{
    text-decoration: none;
    color: black;
}

.active-monitor-sub{
    background-color: #5c8ba4;
    border:none;
    border-radius: 15px;
    cursor: pointer;
    place-items: center;
    justify-self: center;
    padding: 1rem;
}
.active-monitor-sub:hover{
    box-shadow: 2px 2px 5px black;
    background-color: #5c8ba473;
}
.active-monitor-sub a{
    text-decoration: none;
    color: black;
}

.overlay-cargando {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
  z-index: 9999;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.indicador {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  border-radius: 8px;
}
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite; /* Animación de rotación */
  margin: 0 auto 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}