body {
    font-family: sans-serif;
    background-color: #f0f2f5;
}

.config-container {
    display: flex;
    max-width: 1200px;
    height: 800px;
    margin: 20px auto;
    justify-content: space-around;
    border-radius: 8px;
}

.config-menu {
    flex: 1;
    margin: 2rem;
}
.config-menu img{
    width:70px;
    height: 70px;
}
.config-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.config-menu ul li{
    margin: 1.6rem 0 1.6rem 0;
}
.config-menu ul li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
}
.config-menu ul li a:hover{
    background-color: #f0f2f5;
    border-radius: 5px;
}
.config-header{
    display: flex;
    align-items: center;
    gap:2rem;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}
.config-header-text{
    background-color: white;
    padding: 1rem;
    height: 590px;
}
.config-content{
    margin-top: 32px;
    margin-right: 32px;
}
.content{
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 1rem;
}
.options{
    background-color: #f0f2f5;
    padding: 1.5rem;
    height: 575px;
}