.section-general{
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin: 2rem 5rem 0 5rem;
}
.div-img img{
    width: 1100px;
    height: 750px;;
}
.div-img{
    margin: 0;
    padding: 0;
}
.div-content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}
.top-content{
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: rgb(168, 168, 168);
    padding: 1rem;
}
.top-content h3{
    padding-right: 4rem;
}
.middle-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(168, 168, 168);
    padding: 1rem;
    width: 344px;
    height: 485px;
}
.middle-content p{
    background-color: #5da4c7;
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 25px;
    margin: 0;
    width: 100px;
    text-align: center;;
}   
.top-content img{
    width: 50px;
    height: 50px;
}
.botton-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgb(168, 168, 168);
    padding: 1rem;
    width: 344px;
}

.btn-general{
    background-color: #1487BF;
    border:none;
    border-radius: 15px;
    cursor: pointer;
    place-items: center;
    justify-self: center;
    padding: 1rem;
}
.btn-general:hover{
    box-shadow: 2px 2px 5px black;
    background-color: #5da4c7;
}
.btn-general a{
    text-decoration: none;
    color: black;
}
.bottons{
    display: flex;
    gap: 1rem;
}