.section-general{
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin: 2rem 5rem 0 5rem;
}
.div-img{
    margin: 0;
    padding: 0;
    width: 1100px;
    height: 750px;;
}
.div-content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}
.top-content{
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: rgb(168, 168, 168);
    padding: 1rem;
}
.top-content h3{
    padding-right: 4rem;
}   
.top-content img{
    width: 50px;
    height: 50px;
}
.div-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    background-color: rgb(168, 168, 168);
}
.div-img h3{
    font-size: 1.5rem;
    width: 700px;
    height: 100px;
    font-weight: bold;
}
.btn-conect{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1487BF;
    gap: 1rem;
    padding: 1rem;
}
.btn-conect img{
    width: 50px;
    height: 50px;
}

.active-monitor{
    background-color: #1487BF;
    border:none;
    border-radius: 15px;
    cursor: pointer;
    place-items: center;
    justify-self: center;
    padding: 1rem;
}
.active-monitor:hover{
    box-shadow: 2px 2px 5px black;
    background-color: #5da4c7;
}
.active-monitor a{
    text-decoration: none;
    color: black;
}