.pronostico-container {
    display: flex;
    width: 100%;
    height: 950px; /* Adjust based on navbar height */
}

.pronostico-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    margin:0 13rem 0 7rem;
}

.pronostico-content h3 {
    text-align:start;
    font-size: 2em;
    margin-bottom: 20px;
}

.forecast-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.forecast-grid p {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.pronostico-image {
    background-size: cover;
    background-position: center;
    width: 400px;
}

.pronostico-image img {
    width: 400px;
    height: 100%;
    object-fit: cover;
}
