html {
    scroll-behavior: smooth;
}
body{
    background-image: url('/Imagenes/fondo.jpg');
    margin: 0;
    padding: 0;
}
.top-header{
    background-color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-style:unset;
    justify-content: center;
    padding-top: 0px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0; /* Añade esto */
    padding: 10px; /* Añade esto */

}

.menu-horizontal > li{
    display: flex; /* Cambia a flex */
    align-items: center; /* Centra verticalmente */
    position: relative; /* Añade esto para que el menú vertical se posicione respecto al li */
    margin-left: 100px;
}

.menu-horizontal > li > a{ /* Estiliza los enlaces */
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}

.menu-horizontal > li > a:hover{
    color: rgb(172, 163, 163);
}

.btn-cuenta {
    display: flex; /* Usa flex */
    padding: 0 !important; /* Quita el padding heredado */
}

.btn-cuenta img{
    margin-left: 10px;
    height: 45px;
    width: 45px;
    display: block;
}

.menu-vertical{
    padding: 0;
    position: absolute;
    display: none;
    width: 200px;
    background-color: rgba(204, 202, 195, 0.808);
    color: black;
    margin-top: 15px; /* Ajusta la posición */
    top: 70%; /* Cambia margin-top por top: 100% */

}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover { 
    background-color: rgba(189, 184, 184, 0.356);
    cursor: pointer;
}

.menu-vertical li{
    display: block;
    color: rgb(0, 0, 0);
    padding: 15px 15px 15px 15px;
}

main{
    flex: 1;
}

.hero{
    display: flex;
    justify-content: center;
    padding: 8rem;
    margin: 9.5rem;
    margin-bottom: 13rem;
    align-items: center;
}

.hero img {
  height: 400px;
}

.text{
    display: grid;          /* 1. Arranges children in a row by default */
    grid-template-rows: auto;
    align-items: center;
    font-size: 20px !important;
    margin-left: 10rem;
    background-color: #0E5B80;
    color: white;
    padding: 2rem;
}
.text > h1{
    text-align: center;
    margin-bottom: 2rem;
}
.text > p{
    text-align: justify;
    margin-bottom: 3rem;
}
.comenzar-button{
    justify-self: center;
}
.comenzar-btn{
    background-color:#1487BF;
    border: none;
    border-radius: 15px;
    color:white;
    height: 35px;
    width: 120px;
    font-weight: 600;
    cursor: pointer;
    place-items: center;
}

.btn-inicio {
    display: flex; /* Usa flex */
    padding: 0 !important; /* Quita el padding heredado */
}

.btn-inicio img{
    margin-left: 10px;
    height: 45px;
    width: 125x;
    display: block;
}
/*Style code for the monitoreo*/
.parent-monitoreo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.top-monitoreo {
    grid-area: 1 / 2 / 2 / 6;
    justify-items: center;
    padding: 2rem;
    color: black !important;
    background-color: #1487BF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.top-monitoreo h1 {
    text-align: center;
    padding: 0.5rem;
    font-size: 50px;
    font-weight:bold;
}
.top-monitoreo p {
    text-align: center;
    font-size: 20px;
}
.div-condiciones {
    grid-area: 2 / 1 / 3 / 3; 
    background-color: #0E5B80;
    margin: 4rem;
    padding: 2rem;
    justify-items: center;
    border-radius: 15px;
}
.div-condiciones p{
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
}
.div-alerta {
    grid-area: 2 / 3 / 3 / 5;
    background-color: #0E5B80;
    margin: 4rem;
    padding: 2rem;
    padding-left: 8rem;
    padding-right:8rem;
    justify-items: center;
    border-radius: 15px;
}
.div-alerta p{
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
}
.div-historial {
    grid-area: 2 / 5 / 3 / 7; 
    background-color: #0E5B80;
    margin: 4rem;
    padding: 2rem;
    padding-left: 8rem;
    padding-right:8rem;
    justify-items: center;
    border-radius: 15px;
}
.div-historial p{
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
}
.div-temp {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #0E5B80;
    margin: 4rem;
    padding: 2rem;
    justify-items: center;
    border-radius: 15px;
}
.logo-temp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.logo-temp img {
    height: 40px;
    width: 40px;
}
.div-vision { grid-area: 3 / 2 / 4 / 3; }
.div-vientos { grid-area: 3 / 3 / 4 / 5; }
.div-calor { grid-area: 3 / 5 / 4 / 7; }
.div-riesgo { grid-area: 4 / 1 / 5 / 3; }
.div-oleaje { grid-area: 4 / 3 / 5 / 5; }
.div-lluvia { grid-area: 4 / 5 / 5 / 7; }